/* Fonte */
@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.otf') format('truetype');
}

.container {
            width: 60%; /* Largura da caixa branca */
            margin: 0 auto; /* Centraliza horizontalmente */
            background-color: #fff; /* Cor de fundo branca */
            padding: 20px; /* Espaçamento interno */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Agrandir', sans-serif;
    line-height: 1.6;
    /* Wallpaper */
    background-image: url('WallpaperSite.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #231F20;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    word-spacing: 80px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #231F20;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

 .hidden {
            display: none; /* Inicia a imagem como invisível */
        }
 #footerButton {
            font-family: 'Agrandir', sans-serif;
            background: none;
            border: none;
            color: #fff; /* Cor do texto no rodapé */
            cursor: pointer; /* Indica que é clicável */
            font-size: 16px; /* Ajuste conforme necessário */
            text-align: center;
            display: inline-block; /* Garante que o botão seja tratado como um bloco em linha */
            margin: 0 auto; /* Centraliza o botão */
        }
 #footerButton:focus {
            outline: none; /* Remove o contorno padrão quando o botão está focado */
        }

@media (max-width: 768px) and (orientation: landscape) {
    footer {
        height: 60px; /* Reduz a altura do rodapé */
        padding: 5px 0; /* Reduz o preenchimento do rodapé */
        font-size: 14px; /* Reduz o tamanho da fonte do rodapé */
    }
}
